<div class="app-container">


    <div class="header-container">
        <div class="container-fluid header-positioning">
            <div class="row row-cols-2 justify-content-center">
                <div class="col header-icon-area">hi</div>
                <div class="col header-text-area">bye</div>
            </div>
        </div>
        
    </div>
    
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-11">
                <p>Welcome to the main container!</p>
    
                <div class="card">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc fermentum consectetur dui et fermentum. Cras maximus facilisis sodales. Quisque ac sem a massa fringilla bibendum. Mauris sed risus felis. Pellentesque pharetra libero vel maximus semper. Maecenas sed odio quis turpis ultrices posuere. Duis blandit dolor ut libero congue hendrerit. Praesent auctor dapibus leo sit amet ullamcorper. Nulla egestas fermentum ante vel aliquam. Mauris urna turpis, laoreet vel arcu ac, laoreet suscipit nulla.</p>
                    <p>Vestibulum semper dapibus dolor, id interdum enim molestie non. Mauris a pharetra quam, pretium egestas ligula. Nullam ornare condimentum placerat. Praesent eu tincidunt eros, eu blandit ligula. Nulla rhoncus mauris eget rhoncus bibendum. Nam sit amet risus lacinia ex porta consequat non nec leo. Vivamus porta purus a porta lobortis. Phasellus purus est, tempus in dolor sed, imperdiet commodo libero. Praesent gravida lacinia metus, ac fermentum metus volutpat quis. Sed ac metus vitae urna lobortis sollicitudin. Aliquam ut laoreet purus. Donec fringilla elit non velit interdum, in pulvinar tellus aliquam.</p>    
                    <p>Integer at tortor quam. Nulla sagittis mi leo, ac ornare est vehicula et. Vivamus justo nibh, hendrerit in risus id, posuere tincidunt eros. Ut nulla sem, lobortis ac nulla at, fermentum aliquam orci. Donec egestas purus quis vehicula blandit. Ut convallis, ante sed efficitur eleifend, turpis eros ornare libero, sed rutrum orci nunc ac eros. Nullam tincidunt eros id luctus cursus. Nunc vel ex ac nisl mattis vestibulum ut ac ex. Nunc laoreet nulla nec velit rhoncus, nec varius nunc sodales. Suspendisse venenatis ornare ex sed feugiat. Cras blandit dapibus risus, in pulvinar velit faucibus at. Fusce sem nisl, pellentesque eu malesuada quis, consectetur sit amet nunc. Aenean ut dignissim quam, non rhoncus justo. Morbi sed tellus elit. Donec vel eros id diam maximus pretium et non magna. Integer a mauris eget sapien tempus pellentesque.</p>
        
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc fermentum consectetur dui et fermentum. Cras maximus facilisis sodales. Quisque ac sem a massa fringilla bibendum. Mauris sed risus felis. Pellentesque pharetra libero vel maximus semper. Maecenas sed odio quis turpis ultrices posuere. Duis blandit dolor ut libero congue hendrerit. Praesent auctor dapibus leo sit amet ullamcorper. Nulla egestas fermentum ante vel aliquam. Mauris urna turpis, laoreet vel arcu ac, laoreet suscipit nulla.</p>
                    <p>Vestibulum semper dapibus dolor, id interdum enim molestie non. Mauris a pharetra quam, pretium egestas ligula. Nullam ornare condimentum placerat. Praesent eu tincidunt eros, eu blandit ligula. Nulla rhoncus mauris eget rhoncus bibendum. Nam sit amet risus lacinia ex porta consequat non nec leo. Vivamus porta purus a porta lobortis. Phasellus purus est, tempus in dolor sed, imperdiet commodo libero. Praesent gravida lacinia metus, ac fermentum metus volutpat quis. Sed ac metus vitae urna lobortis sollicitudin. Aliquam ut laoreet purus. Donec fringilla elit non velit interdum, in pulvinar tellus aliquam.</p>    
                    <p>Integer at tortor quam. Nulla sagittis mi leo, ac ornare est vehicula et. Vivamus justo nibh, hendrerit in risus id, posuere tincidunt eros. Ut nulla sem, lobortis ac nulla at, fermentum aliquam orci. Donec egestas purus quis vehicula blandit. Ut convallis, ante sed efficitur eleifend, turpis eros ornare libero, sed rutrum orci nunc ac eros. Nullam tincidunt eros id luctus cursus. Nunc vel ex ac nisl mattis vestibulum ut ac ex. Nunc laoreet nulla nec velit rhoncus, nec varius nunc sodales. Suspendisse venenatis ornare ex sed feugiat. Cras blandit dapibus risus, in pulvinar velit faucibus at. Fusce sem nisl, pellentesque eu malesuada quis, consectetur sit amet nunc. Aenean ut dignissim quam, non rhoncus justo. Morbi sed tellus elit. Donec vel eros id diam maximus pretium et non magna. Integer a mauris eget sapien tempus pellentesque.</p>
                    
            </div>

    </div>


</div>



